body{
  margin: 0 ;
  padding: 0;
}

/* Intro */
#IntroContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mainLogo{
  width: 80px;
  position: relative;
  top: 20px;
  left: 20px;
}

#IntroContainer section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h1{
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 10px;
}

section h1:first-child{
  margin-top: 70px;
}

section img{
  width: 90vw;
  margin-top: -50px;
  cursor: pointer;
}

section p{
  font-size: 1rem;
  text-align: center;
  line-height:25px;
  margin-top: 30px;
}

#container{

}

#container section{
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

#container section:nth-child(2) p{
  position: absolute;
  top: 160px;
  width: 100vw;
}

#logo{
  width: 70px;
  position: absolute;
  top: 70px;
  left: 20px;
}


#mirrorball {
  position: fixed;
  width: 45vw;
  top: 0;
  left: 25vw;
  z-index: 60;
}

.person {
  width: 160px;
  position: absolute;
  top: 180px;
  left: 110px;
  z-index: 5;
}

.top{
  width: 60px;
  position: absolute;
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.top:first-child{
  top: 270px;
  left: 60px;
  animation: shaketop1 2s;
  animation-iteration-count: infinite;
}

.top:nth-child(2){
  top: 380px;
  left: 30px;
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.top:nth-child(3){
  top: 430px;
  left: 130px;
  animation: shaketop1 2s;
  animation-iteration-count: infinite;
}
.top:nth-child(4){
  top: 300px;
  left: 200px;
  animation: shaketop1 1.5s;
  animation-iteration-count: infinite;
}

.top:nth-child(5){
  top: 500px;
  left: 30px;
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

.top:nth-child(6){
  top: 510px;
  left: 200px;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.top:nth-child(7){
  top: 570px;
  left: 120px;
  animation: shaketop1 3s;
  animation-iteration-count: infinite;
}
.top:nth-child(8){
  top: 290px;
  left: 300px;
  animation: shake2 2s;
  animation-iteration-count: infinite;
}
.top:nth-child(9){
  top: 570px;
  left: 280px;
  animation: shaketop1 2s;
  animation-iteration-count: infinite;
}
.top:last-child{
  top: 420px;
  left: 300px;
  animation: shake 2s;
  animation-iteration-count: infinite;
}


@keyframes shaketop1 {
  0% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-4px, -2px) rotate(-3deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(6deg);
  }
  30% {
    transform: translate(5px, 3px) rotate(3deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(4deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-5px, 1px) rotate(7deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(-6deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -2px) rotate(8deg);
  }
}


/*---------------------*/
/* 두번째 페이지 */


#container section:nth-child(3) div{
  position: absolute;
  width: 100vw;
  top: 170px;
}

#container section:nth-child(3) p{
  margin-top: 0;
  margin-bottom: 14px;
  line-height: 20px;
}

#container section:nth-child(3) strong{
  font-weight: 600;
}


.medium{
  width: 60px;
  position: absolute;
}

.medium:first-child{
  top: 180px;
  left: 60px;
  animation: shaketop1 2s;
  animation-iteration-count: infinite;
}

.medium:nth-child(2){
  top: 300px;
  left: 30px;
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.medium:nth-child(3){
  top: 330px;
  left: 130px;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.medium:nth-child(4){
  top: 250px;
  left: 200px;
  animation: shaketop1 2s;
  animation-iteration-count: infinite;
}
.medium:last-child{
  top: 200px;
  left: 300px;
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

#container section:nth-child(3) .lastcomment{
  position: absolute;
  width: 100vw;
  bottom: 40px;
}

/* ------------------*/
#container section:nth-child(4){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 10px;
}

#container section:nth-child(4) img{
    width: 60vw;
  margin-top: 50px;
}

#container section:nth-child(4) p{
  margin-top: 40px;
  font-size: 13px;
  line-height: 20px;

}


/* -----------------*/
/* 마지막*/


#container section:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 10px;
  background-image: url('../assets/land3.png');
}

#container section:last-child #person{
  height: 40vh;
  width: auto;
  margin-top: 0px;
  position: relative;
  top: 120px;
  z-index: 50;
  animation: shake2 1.5s;
  animation-iteration-count: infinite;
}



#patty {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  position: relative;
  top: 0px;
  width: 80vw;
}

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-4px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(5px, 3px) rotate(3deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake2 {
  0% {
    transform: translate(2px, 2px) rotate(3deg);
  }
  10% {
    transform: translate(-4px, -2px) rotate(-10deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(-3deg);
  }
  30% {
    transform: translate(5px, 3px) rotate(3deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(7deg);
  }
  50% {
    transform: translate(-3px, 2px) rotate(4deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(5deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(8deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(4deg);
  }
}


form {
  position: absolute;
  bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 260px;
  background-color: black;
  color: #eefd53;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  border-radius: 13px;
  margin-bottom: 10px;
}
input {
  width: 260px;
  height: 40px;
  border-radius: 13px;
  text-align: center;
  color: grey;
  font-weight: 600;
  font-size: 1rem;
}

.disable {
  cursor: default;
  color: rgb(255, 255, 255);
  background-color: rgb(69, 69, 69);
}
.able {
  cursor: pointer;
  color: #eefd53;
  background-color: black;
}

.stop {
  animation: none !important;
}

#resetBtn{
  width: 100px;
  font-size: 10px;
  margin-top: 50px;
}


/* -------------------*/
/*Congratulation*/
#congratulation{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#congratulation p{
  margin: 0;
  margin-bottom: 30px;
  line-height: 23px;
  text-align: center;
}